<h1>Perguntas Frequentes (FAQ)</h1>

<table>
  <tr>
    <td>Pergunta</td>
    <td>Resposta</td>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.answer %></td>
    <% if is_logged? %>
    <td><%= button_to 'Editar', edit_question_path(question) %></td>
    <td><%= button_to 'Excluir', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if is_logged? %>
<%= button_to 'Nova Pergunta', new_question_path %>
<% end %>
