<% readonly ||= false %>
<%= error_messages_for(@faq) %>

<div class="control-group">
    <%= f.label :question, "Dúvida", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :question, :placeholder => "Dúvida", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :answer, "Resposta", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_field :answer, :placeholder => "Resposta", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :subject_id, "Assunto", :class => "control-label strong" %>
	<div class="controls">
      <%= f.select :subject_id, @subjects.collect {|s| [s.subject, s.id]}, {}, :disabled => readonly %>
    </div>
</div>
