<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= link_to "Tópicos", subjects_path %> >> <%= @page_title = "Perguntas e Respostas" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Ações</th>
				<th>Tópico</th>
			    <th>Pergunta</th>
			</tr>
		</thead>
		<tbody>
			<% @faqs.each do |faq| %>
			  <tr>
  			    <td class="td-actions">
  			        <%= link_to '', {:action => 'show', :id => faq.id}, :class => "icon-eye-open", :title => "Visualizar" %>&nbsp;
  					<%= link_to '', {:action => 'edit', :id => faq.id}, :class => "icon-edit", :title => "Editar" %>&nbsp;
  					<%= link_to '', {:action => 'delete', :id => faq.id}, :class => "icon-remove", :title => "Deletar" %>
  				</td>
			    <td><%= link_to faq.subject.subject, {:controller => 'subjects', :action => 'show', :id => faq.subject.id}, :title => faq.subject.description %></td>
				<td><%= faq.question %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>

<br />

<%= link_to 'Novo tópico', new_subject_path, :class => "btn btn-small light-blue inverse" %>&nbsp; &nbsp;&nbsp;
<%= link_to 'Nova dúvida', new_faq_path, :class => "btn btn-small light-blue inverse" %>&nbsp; |&nbsp;&nbsp;
<%= link_to 'Ir para a lista de tópicos', subjects_path, :class => "btn btn-small light-blue inverse" %>