<div class="control-group">
  <%= f.label :name ,"Nome", :class => "control-label strong" %>
  <%= f.text_field :name%>
</div>

<div class="control-group">
  <%= f.label :cpf ,"Cpf", :class => "control-label strong"%>
  <%= f.text_field :cpf %>
</div>


<div class="control-group">
  <%= f.label :address,"Endereco", :class => "control-label strong" %>
  <%= f.text_field :address %>
</div>


