<% readonly ||= false %>
<%= error_messages_for(@contact_group) %>

<div class="control-group">
    <%= f.label :name, "Nome", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :name, :placeholder => "Nome", :readonly => readonly %>
    </div>
</div>

<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i> Contatos&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to '', {:controller => 'contacts', :action => 'new'}, {:class => "icon-plus-sign", :target => '_new', :style => "font-size:20px"} %>
	</div>
	
	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Presente</th>
				<th>Nome</th>
				<th>Email</th>
			</tr>
		</thead>
		
		<% for contact in Contact.find(:all) %>
		<tr>
			<td>
				<% if(@contact_group.contacts.include? contact) %>
					<%= check_box_tag("contacts[" + contact.id.to_s + "]", 1, true, {:disabled => readonly, :class => "checkbox"}) %>
				<% else %>
					<%= check_box_tag("contacts[" + contact.id.to_s + "]", 1, false, {:disabled => readonly, :class => "checkbox"}) %>
				<% end %>
			</td>
			<td><%= contact.name %></td>
			<td><%= contact.email %></td>
		</tr>
		<% end %>
	</table>
</div>


