<h2><%= @page_title = "Alterar Grupo de Contatos" %></h2><hr />

<%= form_for @contact_group, :validate => true, :html => {:class => "form-horizontal"} do |f| %>
  
  <%= render(:partial => 'form', :locals => {:f => f}) %>    
  <div class="control-group">
    <div class="controls">
      <%= f.submit("Atualizar", :class => "btn btn-small dark-blue") %>
    </div>
  </div>
<% end %>

<%= link_to '<< Voltar', contact_groups_path, :class => "btn btn-small light-blue inverse" %>
