<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Grupos de contatos" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
		<tr>
		  <th>Nome do Grupo</th>
		  <th>Ações</th>
		</tr>
		</thead>

		<tbody>
	<% @contact_groups.each do |contact_group| %>
		<tr>
		  <td><%= contact_group.name %></td>
		  <td class="td-actions">
		  	<%= link_to 'Vizualizar', {:action => 'show', :id => contact_group.id}, :class => "btn btn-small dark-blue" %>
		  	<%= link_to 'Editar', {:action => 'edit', :id => contact_group.id}, :class => "btn btn-small dark-blue" %>
		  	<%= link_to 'Remover', {:action => 'delete', :id => contact_group.id}, :class => "btn btn-small dark-blue"  %>
		  </td>
		</tr>
	<% end %>
	</table>
</div>

<br />

<%= link_to 'Novo grupo de contatos', {:action => 'new'}, :class => "btn btn-small light-blue inverse"  %>
