<%= form_for(@newsletter) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :message_body %><br />
    <%= f.text_area :message_body %>
  </div>
  
 <h3>Grupos</h3>
  <div class="vpadded">
 <% @contact_groups.each do |contact_group|
 			if(@newsletter.contact_groups.include? contact_group)%>
				<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, true, :class => "checkbox") %>
			<% else %>
				<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, false, :class => "checkbox") %>
			<% end %>
		
		<%= contact_group.name %>
		<br/>
<% end %>
	</div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
