<% readonly ||= false %>
<%= error_messages_for(@faq) %>

<div class="control-group">
    <%= f.label :title, "Titulo", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :title, :placeholder => "Titulo", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :message_body, "Mensagem", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_area :message_body, :placeholder => "Mensagem", :readonly => readonly %>
    </div>
</div>

<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i> Grupos de Contatos
	</div>
	
	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Presente</th>
				<th>Nome do Grupo</th>
			</tr>
		</thead>
		
		<% @contact_groups.each do |contact_group| %>
		<tr>
			<td>
				<% if(@newsletter.contact_groups.include? contact_group) %>
					<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, true, :class => "checkbox") %>
				<% else %>
					<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, false, :class => "checkbox") %>
				<% end %>
			</td>
			<td><%= contact_group.name %></td>
		</tr>
		<% end %>
	</table>
</div>
