<h1>Listing newsletters</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>T&iacute;tulo</th>
    <th>Mensage a ser enviada</th>
    <th>Data da mensagem</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= newsletter.title.humanize %></td>
    <td><%= newsletter.message_body %></td>
    <td><%= newsletter.created_at %></td>
    <td><%= link_to 'Visualizar', newsletter, :class => "btn btn-small dark-blue" %></td>
    <td><%= link_to 'Editar', edit_newsletter_path(newsletter), :class => "btn btn-small dark-blue" %></td>
  </tr>
	<% end %>
  </tbody>
</table>

<br />



<%= link_to 'Criar Nova Newsletter', new_newsletter_path, :class => "btn btn-small light-blue inverse" %>
