<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Newsletters" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Ações</th>
			  <th>T&iacute;tulo</th>
			  <th>Data da newsletter</th>
			</tr>
		</thead>
		<tbody>
			<% @newsletters.each do |newsletter| %>
			  <tr>
			  	<td class="td-actions">
						<%= link_to '', {:action => 'show', :id => newsletter.id}, :class => "icon-eye-open", :title => "Visualizar" %>&nbsp;
						<%= link_to '', {:action => 'new', :id => newsletter.id}, :class => "icon-edit", :title => "Editar" %>
					</td>
			    <td><%= newsletter.title.humanize %></td>
			    <td><%= newsletter.created_at %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>

<br />

<%= link_to 'Nova Newsletter', {:action => 'new'}, :class => "btn btn-small light-blue inverse" %>
