<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Newsletters" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
			    <th>T&iacute;tulo</th>
			    <th>Data da newsletter</th>
			    <th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<% @newsletters.each do |newsletter| %>
			  <tr>
			    <td><%= newsletter.title.humanize %></td>
			    <td><%= newsletter.created_at %></td>
			    <td class="td-actions">
					<%= link_to 'Visualizar', {:action => 'show', :id => newsletter.id}, :class => "btn btn-small dark-blue" %>&nbsp;
					<%= link_to 'Editar', {:action => 'new', :id => newsletter.id}, :class => "btn btn-small dark-blue" %>&nbsp;
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>

<br />

<%= link_to 'Nova Newsletter', {:action => 'new'}, :class => "btn btn-small light-blue inverse" %>
