<% readonly ||= false %>
<%= error_messages_for(@call) %>
<div class="control-group">
    <%= f.label :name, "Nome", :class => "control-label strong" %>
  <div class="controls">
      <%= f.text_field :name, :placeholder => "Nome", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
  <%= f.label :size, "Tamanho", :class => "control-label strong" %>
  <div class="controls">
    <select name="banner[size_type]">
      <% @banner.banner_types.each_key do |type| %>
        <option value="<%= type %>"><%= type %>(<%= @banner.banner_types[type].first %>x<%= @banner.banner_types[type].last %>)</option>
      <% end %>
    </select>
    </div>
</div>
<div class="control-group">
  <%= f.label :image, "Imagem", :class => "control-label strong" %>
  <div class="controls">
    <% if !readonly %>
      <%= f.file_field :image, :readonly => readonly%>
    <% else %>
      <%= image_tag @banner.image.url %>
    <% end %>
  </div>

</div>