<% readonly ||= false %>
<%= error_messages_for(@call) %>
<div class="control-group">
    <%= f.label :reason, "Motivo", :class => "control-label strong" %>
  <div class="controls">
      <%= f.text_field :reason, :placeholder => "Motivo", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
  <%= f.label :comments, "Comentários", :class => "control-label strong" %>
  <div class="controls">
    <%= f.text_field :comments, :placeholder => "Comentários", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
  <%= f.label :status, "Status", :class => "control-label strong" %>
  <div class="controls">
    <%= f.text_field :status, :placeholder => "Status", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
  <%= f.label :time, "Hora", :class => "control-label strong" %>
  <div class="controls">
    <%= f.datetime_select :call_date, :placeholder => "Hora", :readonly => readonly %>
  </div>
</div>

</div>
<div class="control-group">
  <%= f.label :contact, "Contato", :class => "control-label strong" %>
  <div class="controls">
      <% if !@call.contact || !readonly %>
        <%= collection_select(:contact, :contact_id, @contacts, :id, :name, :prompt => true, :disabled => readonly) %>&nbsp;
      <% else %>
        <input type="text" readonly="true" placeholder="<%= @call.contact.name %>" />
      <% end %>
  </div>
</div>
