<p id="notice"><%= notice %></p>

<p>
  <b>Motivo:</b>
  <%= @call.reason %>
</p>

<p>
  <b>Comentários:</b>
  <%= @call.comments %>
</p>

<p>
  <b>Status:</b>
  <%= @call.status %>
</p>

<p>
  <b>Data:</b>
  <%= @call.call_date %>
</p>

<p>
	<b>Nome do Contato:</b>
	<%= @call.contact.name %>
</p>

<p>
	<b>Id do Contato:</b>
	<%= @call.contact_id %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
