<% readonly ||= false %>
<% editApprove ||= false %>
<%= error_messages_for(@marketing_campaign) %>

<div class="control-group">
    <%= f.label :name, "Nome", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :name, :placeholder => "Nome", :readonly => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :description, "Descrição", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_area :description, :placeholder => "Descrição", :readonly => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :status, "Estado", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :status_text, :placeholder => "Estado", :value => MarketingCampaign.marketing_status[@marketing_campaign.status], :readonly => true %>
    </div>
</div>

<div class="control-group">
    <%= f.label :value, "Preço", :class => "control-label strong" %>
	<div class="controls">
		<input id="marketing_campaign_value" type="text" value=<%= @marketing_campaign.value() %> size=30 readonly="true" placeholder="Preço" />
    </div>
</div>

<div class="control-group">
    <%= f.label :estimated_begin_date, "Data estimada de início da campanha", :class => "control-label strong" %>
	<div class="controls">
      <%= f.date_select :estimated_begin_date, :placeholder => "Data estimada de início da campanha", :disabled => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :estimated_end_date, "Data estimada de fim da campanha", :class => "control-label strong" %>
	<div class="controls">
      <%= f.date_select :estimated_end_date, :placeholder => "Data estimada de fim da campanha", :disabled => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :estimated_revenue, "Retorno estimado", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :estimated_revenue, :placeholder => "Retorno estimado", :readonly => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :begin_date, "Data de início da campanha", :class => "control-label strong" %>
	<div class="controls">
      <%= f.date_select :begin_date, :placeholder => "Data de início da campanha", :disabled => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :end_date, "Data de fim da campanha", :class => "control-label strong" %>
	<div class="controls">
      <%= f.date_select :end_date, :placeholder => "Data de fim da campanha", :disabled => readonly %>
    </div>
</div>

<div class="control-group">
    <%= f.label :revenue, "Retorno", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :revenue, :placeholder => "Retorno", :readonly => readonly %>
    </div>
</div>

<% if(@marketing_campaign.marketing_actions) %>
	<div class="box bordered" style="position:relative;">
		<div class="box-header" >
			<i class="icon-th-list"></i>Ações de marketing
		</div>

		<table class="table table-striped data-table">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Tipo</th>
				<th>Valor</th>
			</tr>
			</thead>

			<tbody>
		<% @marketing_campaign.marketing_actions.each do |marketing_action| %>
			<tr>
				<td><%= marketing_action.name %></td>
				<td><%= marketing_action.action_type %></td>
				<td><%= number_to_currency(marketing_action.value, :unit => 'R$', :separator => ',') %></td>
			</tr>
		<% end %>
		</table>
	</div>

<%= link_to 'Editar ações de marketing', marketing_campaign_marketing_actions_path(@marketing_campaign.id), {:class => "btn btn-small dark-blue"} %>
	
<% end %>

<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i> Grupos de Contatos&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to '', {:controller => 'contact_groups', :action => 'new'}, {:class => "icon-plus-sign", :target => '_new', :style => "font-size:20px"} %>
	</div>
	
	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Presente</th>
				<th>Nome do Grupo</th>
			</tr>
		</thead>
		
		<% for contact_group in @contact_groups %>
		<tr>
			<td>
				<% if(@marketing_campaign.contact_groups.include? contact_group) %>
					<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, true, {:disabled => readonly, :class => "checkbox"}) %>
				<% else %>
					<%= check_box_tag("contact_groups[" + contact_group.id.to_s + "]", 1, false, {:disabled => readonly, :class => "checkbox"}) %>
				<% end %>
			</td>
			<td><%= contact_group.name %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class="control-group">
	<%= f.label :financial_feedback, "Comentários", :class => "control-label strong", :readonly => !editApprove %>
	<div class="controls">
		<%= f.text_area :financial_feedback, :placeholder => "Comentários", :readonly => !editApprove %>
	</div>
</div>
