<h2><%= @page_title = "Desaprovar Campanha de Marketing" %></h2><hr />

<%= form_for @marketing_campaign, :validate => true, :html => {:class => "form-horizontal"} do |f| %>
  
  <%= render(:partial => 'form', :locals => {:f => f, :readonly => true, :editApprove => true}) %>   
   
  <div class="control-group">
    <div class="controls">
      <%= f.submit("Desaprovar", :class => "btn btn-small dark-blue") %>&nbsp; &nbsp;&nbsp;
      <%= link_to 'Cancelar', {:action => 'show', :id => @marketing_campaign.id}, :class => "btn btn-mini dark-blue" %>
    </div>
  </div>
  
<% end %>

<%= link_to 'Ir para a lista de campanhas de marketing', marketing_campaigns_path, :class => "btn btn-small light-blue inverse" %>
