<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Campanhas de Marketing" %>
	</div>
	
	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Ações</th>
				<th>Name</th>
				<th>Estado</th>
			</tr>
		</thead>

	<% @marketing_campaigns.each do |marketing_campaign| %>
		<tr>
			<td class="td-actions">
				<%= link_to '', {:action => 'show', :id => marketing_campaign.id}, :class => "icon-eye-open", :title => "Visualizar" %>
				<%= link_to '', {:action => 'edit', :id => marketing_campaign.id}, :class => "icon-edit", :title => "Editar" %>
				<%= link_to '', {:action => 'delete', :id => marketing_campaign.id}, :class => "icon-remove", :title => "Deletar"  %>
		  </td>
		  <td><%= marketing_campaign.name %></td>
		  <td><%= marketing_campaign.status %></td>
		</tr>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'Nova campanha de marketing', new_marketing_campaign_path, :class => "btn btn-small light-blue inverse" %>
