<% readonly ||= false %>
<%= error_messages_for(@client) %>

<div class="control-group">
	<label class="control-label strong">Nome</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.nome %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Login</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.login %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">E-mail</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.email %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Telefone</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.telefone %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Celular</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.celular %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Endereço</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.endereco %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Tipo de cliente</label>
	<div class="controls">
		<label class="control-label-desc"><%= Client.client_labels[@client.clientType] %></label>
	</div>
</div>
<div class="control-group">
	<label class="control-label strong">Instituição/Empresa</label>
	<div class="controls">
		<label class="control-label-desc"><%= @client.instituicao %></label>
	</div>
</div>
