<h2><%= @page_title = "Visualizar Cliente" %></h2><hr />

<%= form_for @client, :html => {:class => "form-horizontal"} do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f, :readonly => true}) %>    
<% end %>

<%= link_to ' Importar cliente para a base de contatos...', {:controller => 'contacts', :action => 'new', :client => @client.to_json}, :class => "icon-circle-arrow-down btn btn-small light-blue inverse", :title => "Importar cliente para a base de contatos..." %>
<br />

<br />
<%= link_to 'Ir para a lista de clientes', {:action => "index"}, :class => "btn btn-small light-blue inverse" %>
