<% readonly ||= false %>
<%= error_messages_for(@contact) %>

<div class="control-group">
    <%= f.label :name, "Nome", :class => "control-label strong" %>
	<div class="controls">
      <%= f.text_field :name, :placeholder => "Nome", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :email, "E-mail", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_field :email, :placeholder => "E-mail", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :phone, "Telefone", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_field :phone, :placeholder => "Telefone", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :address, "Endereço", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_field :address, :placeholder => "Endereço", :readonly => readonly %>
    </div>
</div>
<div class="control-group">
	<%= f.label :clientType, "Tipo de cliente", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.select :clientType, Contact.contact_types.invert, {}, {:disabled => readonly} %>
    </div>
</div>
<div class="control-group">
	<%= f.label :institution, "Instituição/Empresa", :class => "control-label strong" %>
	<div class="controls">
	  <%= f.text_field :institution, :placeholder => "Instituição/Empresa", :readonly => readonly %>
    </div>
</div>
