<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Contatos" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Ações</th>
			    <th>Nome</th>
			    <th>E-mail</th>
				<th>Telefone</th>
				<th>Tipo de cliente</th>
				<th>Instituição/Empresa</th>
			</tr>
		</thead>
		<tbody>
			<% @contacts.each do |contact| %>
			  <tr>
  			    <td class="td-actions">
  			        <%= link_to '', {:action => 'show', :id => contact.id}, :class => "icon-eye-open", :title => "Visualizar" %>&nbsp;
  					<%= link_to '', {:action => 'edit', :id => contact.id}, :class => "icon-edit", :title => "Editar" %>&nbsp;
  					<%= link_to '', {:action => 'delete', :id => contact.id}, :class => "icon-remove", :title => "Deletar" %>
  				</td>
			    <td><%= contact.name %></td>
			    <td><%= contact.email %></td>
				<td><%= contact.phone %></td>
				<td><%= Contact.contact_types[contact.client_type] %></td>
				<td><%= contact.institution %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>

<br />

<%= link_to 'Novo contato', new_contact_path, :class => "btn btn-small light-blue inverse" %>
