<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Filtro por nome</th>
  </tr>
  <tr>
    <td>
	  <%= form_tag :controller => 'contacts', :action => 'filter', :method => 'get' do %>
	  <%= text_field_tag :name, params[:name], :id => 'search_field' %>
	  <%= submit_tag "Search", :name => nil %> 
	  <%= link_to_function "Clear", "$('search_field').clear()" %>
	  <% end %> 
    </td>
  </tr>
  <tr>
    <th>Clientid</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.clientId %></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.address %></td>
    <td><%= contact.clientType %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
