<h2><%= @page_title = "Visualizar Contato" %></h2><hr />

<% if notice %>
	<div class="alert green fade in">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= notice %>
	</div>
<% end %>

<%= form_for @contact, :html => {:class => "form-horizontal"} do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f, :readonly => true}) %> 
  <%= render(:partial => 'partials/timestamps', :locals => {:obj => @contact}) %> 
  <div class="control-group">
    <div class="controls">
      <%= link_to 'Editar Contato', {:action => 'edit', :id => @contact.id}, :class => "btn btn-small dark-blue" %>
  </div>
<% end %>

<br />
<%= link_to 'Ir para a lista de contatos', contacts_path, :class => "btn btn-small light-blue inverse" %>&nbsp; &nbsp;&nbsp;
<%= link_to 'Novo contato', new_contact_path, :class => "btn btn-small light-blue inverse" %>
