
  <% if !@edit%>
  <h3>Cliente</h3>
  
	<style>
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
	}
	
	/* IE 6 doesn't support max-height
	* we use height instead, but this forces the menu to always be this tall
	*/
	* html .ui-autocomplete {
		height: 100px;
	}
	</style>
  
	<script>
		$(function() {
			var availableTags = [
				<% @contacts.each do |contact| %>
  				{
  					caseCode: "<%= contact.id %>",
  					name: "<%= contact.name%>",
  					email: "<%= contact.email%>",
  					phone: "<%= contact.phone%>",
  					label: "<%= contact.name%>",
  				},
  			<% end %>
			];

			$( "#contato" ).autocomplete({
				source: availableTags,
				minLength: 3,

			});
		});
	</script>
	
	<div class="control-group">
		<label for="contato" value="Contato"><%= f.label :contact,:class => "control-label strong"  %></label>
		<input id="contato" name="contactName" value=<%=@support_contact_name%> />
	</div>
    <% end %>



  <div class="control-group">
    <%= f.label :description ,"Descricao", :class => "control-label strong" %>
    <%= f.text_field :description %>
  </div>
  <% if !@edit %>
  <div class="control-group">
    <%= f.label :caseType ,"Tipo", :class => "control-label strong"%>
    <%= f.select :caseType,@case_types,{} %>
  </div>
  <%end%>
  <%if @edit%>
  <div class="control-group">
    <%= f.label :status,"Status", :class => "control-label strong" %>
    <%= f.select :status,@case_status,{} %>
  </div>
  <%end%>
  <div class="control-group">
    <%=f.label :employee ,"Responsavel", :class => "control-label strong"%>
    <%=collection_select(:support_case,:employee_id,@all_employees,:id,:name,{:selected=>@support_employee_index,:prompt => true})%><br/>
  </div>
