<%= form_for(@support_case) do |f| %>
  <% if @support_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_case.errors.count, "error") %> prohibited this support_case from being saved:</h2>

      <ul>
      <% @support_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@edit%>
  <h3>Cliente</h3>
  
	<style>
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
	}
	
	/* IE 6 doesn't support max-height
	* we use height instead, but this forces the menu to always be this tall
	*/
	* html .ui-autocomplete {
		height: 100px;
	}
	</style>
  
	<script>
		$(function() {
			var availableTags = [
				<% @contacts.each do |contact| %>
  				{
  					caseCode: "<%= contact.id %>",
  					name: "<%= contact.name%>",
  					email: "<%= contact.email%>",
  					phone: "<%= contact.phone%>",
  					label: "<%= contact.name%>",
  				},
  			<% end %>
			];

			$( "#contact" ).autocomplete({
				source: availableTags,
				minLength: 3,

			});
		});
	</script>
	
	<div class="ui-widget">
		<label for="contact" value="Contato"><%= f.label :contact %></label>
		<input id="contact" name="contactName" value=<%=@support_contact_name%> />
	</div>
     </br>
    <% end %>



  <div class="control-group">
    <%= f.label :description ,"Descricao", :class => "control-label strong" %>
    <%= f.text_field :description %>
  </div>
  <div class="control-group">
    <%= f.label :caseType ,"Tipo", :class => "control-label strong"%>
    <%= f.text_field :caseType %>
  </div>
  <div class="control-group">
    <%= f.label :status,"Status", :class => "control-label strong" %>
    <%= f.text_field :status %>
  </div>
  <div class="control-group">
    <%=f.label :employee ,"Responsavel", :class => "control-label strong"%>
    <%=collection_select(:support_case,:employee_id,@all_employees,:id,:name,{:selected=>@support_employee_index,:prompt => true})%><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


