<div class="box bordered" style="position:relative;">
  <div class="box-header" >
    <i class="icon-th-list"></i><%= @page_title = "Lista de Chamados" %>
  </div>

  <table class="table table-striped data-table">
      <thead>
          <tr>
            <th>Descricao</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Acoes</th>
          </tr>
      </thead>
      <tbody>
<% @support_cases.each do |support_case| %>
          <tr>
            <td><%= support_case.description %></td>
            <td><%= support_case.caseType %></td>
            <td><%= support_case.status %></td>
            <td class="td-actions">
              <%= link_to 'Visualizar',{:action => 'show', :id => support_case.id},:class => "btn btn-small dark-blue" %>
              <%= link_to 'Editar',{:action => 'edit', :id => support_case.id},:class => "btn btn-small dark-blue" %>
              <%= link_to 'Remover',{:action => 'destroy', :id => support_case.id},:class => "btn btn-small dark-blue" %>
            </td>
          </tr>
<% end %>
     </tbody>
</table>
 </div>

<br />

<%= link_to 'New Support case', new_support_case_path %>
