<p id="notice"><%= notice %></p>

<div class="box-header" >
  <%= @page_title = "Acompanhamento Do Chamado" %>
</div>

<div id="support_case_values" class="box bordered" style="position:relative;">
    <h4>Dados do Chamado:</h4>
    <p>
      <b>Descrição:</b>
      <%= @support_case.description %>
    </p>

    <p>
      <b>Tipo:</b>
      <%= @support_case.caseType %>
    </p>

    <p>
      <b>Status:</b>
      <%= @support_case.status %>
    </p>

  <p>
    <b>Data de Criacao:</b>
    <%= @support_case.created_at%>
  </p>

  <%if @employee!=nil%>
    <p>
      <b>Responsavel:</b>
      <%= link_to @employee_name,{:controller => 'employees',:action =>'show',:id =>@employee.id} %>
    </p>
  <%else%>
      <p>
        <b>Responsavel:</b>
        Nao alocado
      </p>
  <% end %>
  
   <p>
      <%= link_to 'Editar',{:action => 'edit', :id => @support_case.id},:class => "btn btn-small dark-blue" %>
    </p>
  

</div>

<div id="contact_values" class="box bordered" style="position:relative;">
  <h4>Dados do Cliente:</h4>
  <p>
    <b>Nome:</b>
    <%= @contact_name%>
  </p>
  <p>
    <b>Email:</b>
    <%= @contact_email%>
  </p>
</div>

<div id="addComment" class="box bordered" style="position:relative;">
  <h4> Adicione um Comentario:</h4>
  <table>
    <%= form_tag :controller => 'support_cases', :action => 'addComment', :support_case_id=>@support_case.id, :method => 'post' do %>
        <%hidden_field_tag :support_case_id, @support_case.id%>
    <tr>
      <td><%= text_area_tag :comment, params[:comment], :rows => 30, :cols=> 100,:placeholder => 'Seu comentario aqui...'%></td>
      <td><%= submit_tag "Adicionar" ,:class => "btn btn-small dark-blue"%> </td>
    </tr>
    <tr>
      <% end %>
    </tr>
  </table>
</div>

<div id="sendEmail" class="box bordered" style="position:relative;">
  <h4> Enviar mensagem ao cliente:</h4>
  <table>
    <%= form_tag :controller => 'support_cases', :action => 'sendEmailToClient', :support_case_id=>@support_case.id, :method => 'post' do %>
        <%hidden_field_tag :support_case_id, @support_case.id%>
        <tr>
          <td><%= text_area_tag :content, params[:content], :rows => 30, :cols=> 100,:placeholder => 'Escreva a mensagem aqui...'%></td>
          <td><%= submit_tag "Enviar" ,:class => "btn btn-small dark-blue"%> </td>
        </tr>
        <tr>
    <% end %>
    </tr>
  </table>
</div>

<div id="comments"class="box bordered" style="position:relative;">
  <h4>Comentarios:</h4>
  <table class="table table-striped data-table">
    <thead>
    <tr>
      <th>Comentario</th>
      <th>Data de postagem</th>
    </tr>
    </thead>
    <tbody>
<%if @support_case_comments!=nil && @support_case_comments.size!=0
    @support_case_comments.each do |comment|%>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.created_at %></td>
        </tr>
<%  end
   end %>
    </tbody>
  </table>
</div>

<div id="history" class="box bordered" style="position:relative;">
  <h4>Historico:</h4>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Descricao</th>
          <th>Conteudo</th>
          <th>Tipo</th>
          <th>Data</th>
        </tr>
    </thead>
    <tbody>
    <%if @support_case_events!=nil && @support_case_events.size!=0
           @support_case_events.each do |event|%>
        <tr>
          <td><%= event.description %></td>
          <td><%= event.content %></td>
          <td><%= event.eventType %></td>
          <td><%= event.created_at %></td>
        </tr>
    <%end
    end%>
    </tbody>
 </table>

</div>




<%= link_to 'Voltar', {:action => 'index'},:class => "btn btn-small dark-blue"%>
