<%= error_messages_for(@subject) %>

<div class="field">
	<%= f.label :subject %><br />
	<%= f.text_field :subject %>
</div>
<div class="field">
	<%= f.label :description %><br />
	<%= f.text_field :description %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
