<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Lista de tópicos das FAQs" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th style="min-width: 80px;">Ações</th>
			    <th>Tópico</th>
			    <th>Descrição</th>
				<th>Total de FAQs</th>
			</tr>
		</thead>
		<tbody>
			<% @subjects.each do |subject| %>
			  <tr>
  			    <td class="td-actions">
  			        <%= link_to '', {:action => 'show', :id => subject.id}, :class => "icon-eye-open", :title => "Visualizar" %>&nbsp;
  					<%= link_to '', {:action => 'edit', :id => subject.id}, :class => "icon-edit", :title => "Editar" %>&nbsp;
  					<%= link_to '', {:action => 'delete', :id => subject.id}, :class => "icon-remove", :title => "Deletar" %>
  				</td>
			    <td><%= subject.subject %></td>
			    <td><%= subject.description %></td>
				<td>
					<%= subject.faqs.size %>
					<% if not subject.faqs.empty? %>
						<%= link_to '', {:controller => 'faqs', :action => 'index', :subject_id => subject.id}, :class => "icon-search", :title => "Visualizar FAQs relacionadas" %>
					<% end %>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>

<br />

<%= link_to 'Novo tópico', new_subject_path, :class => "btn btn-small light-blue inverse" %>&nbsp; &nbsp;&nbsp;
<%= link_to 'Nova dúvida', new_faq_path, :class => "btn btn-small light-blue inverse" %>&nbsp; |&nbsp;&nbsp;
<%= link_to 'Ir para a lista de FAQs', faqs_path, :class => "btn btn-small light-blue inverse" %>