<h2><%= @page_title = "Deletar Ação de Marketing" %></h2><hr />

<p class="red-text strong" style="font-size:16px">Você tem certeza que deseja deletar permanentemente essa ação?</p>
<%= form_for [@marketing_campaign, @marketing_action], :html => {:class => "form-horizontal"} do |f| -%>

  <%= render(:partial => 'form', :locals => {:f => f, :readonly => true}) %>    
  <div class="control-group">
	  <div class="controls">
		  <%= button_to "Deletar Ação de Marketing", marketing_action_path(@marketing_action), :method => 'delete', :class => "btn btn-small dark-blue" %>
	  </div>
  </div>
<% end %>

<%= link_to 'Ir para a lista de ações de marketing', {:action => 'index'}, :class => "btn btn-small light-blue inverse" %>
