<div class="box bordered" style="position:relative;">
	<div class="box-header" >
		<i class="icon-th-list"></i><%= @page_title = "Ações de Marketing" %>
	</div>

	<table class="table table-striped data-table">
		<thead>
			<tr>
				<th>Ações</th>
				<th>Nome</th>
				<th>Tipo</th>
				<th>Valor</th>
			</tr>
		</thead>

		<tbody>
	<% if(!@marketing_campaign.marketing_actions.nil?) %>
		<% @marketing_campaign.marketing_actions.each do |marketing_action| %>
			<tr>
				<td class="td-actions">
					<%= link_to '', {:action => 'show', :id => marketing_action.id}, :class => "icon-eye-open", :title => "Visualizar" %>
					<% if((@marketing_campaign.status == 1 || @marketing_campaign.status == 7) && @role != "FIN") %>
						<%= link_to '', {:action => 'edit', :id => marketing_action.id}, :class => "icon-edit", :title => "Editar" %>
						<%= link_to '', {:action => 'delete', :id => marketing_action.id}, :class => "icon-remove", :title => "Deletar"  %>
					<% end %>
				</td>
				<td><%= marketing_action.name %></td>
				<td><%= marketing_action.action_type %></td>
				<td><%= number_to_currency(marketing_action.value, :unit => 'R$', :separator => ',') %></td>
			</tr>
		<% end %>
	<% end %>
	</table>
</div>

<br />

<% if((@marketing_campaign.status == 1 || @marketing_campaign.status == 7) && @role != "FIN") %>
	<%= link_to 'Nova ação de marketing', {:action => 'new'}, :class => "btn btn-small light-blue inverse"  %> </br>
<% end %>
<%= link_to 'Voltar a campanha de marketing', {:controller => 'marketing_campaigns',:action => 'show', :id => @marketing_campaign.id}, :class => "btn btn-small dark-blue"  %>
