<h2><%= @page_title = "Visualizar Ação de Marketing" %></h2><hr />

<% notice = params[:notice] %>
<% if notice %>
	<div class="alert green fade in">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= notice %>
	</div>
<% end %>

<%= form_for [@marketing_campaign, @marketing_action], :html => {:class => "form-horizontal"} do |f| -%>

  <%= render(:partial => 'form', :locals => {:f => f, :readonly => true}) %>    
  <div class="control-group">
    <div class="controls">
      <%= link_to 'Editar Ação de Marketing', {:action => 'edit', :id => @marketing_action.id}, :class => "btn btn-small dark-blue" %>
  </div>
<% end %>

<br />
<%= link_to 'Ir para a lista de ações de marketing', {:action => 'index'}, :class => "btn btn-small light-blue inverse" %>&nbsp; &nbsp;&nbsp;
<%= link_to 'Nova Ação de Marketing', {:action => 'new', :id => @marketing_action.id}, :class => "btn btn-small light-blue inverse" %>
